img{
  margin-top:200px;
  height:500px;
  width:500px;
}
}
h1{
  font-size:80px;
}
button{
  margin-top:100px;
 margin-left:25px;
  font-size:80px;
}
.onfan{
  animation:rotate 0.12s linear;
  animation-iteration-count:infinite;
}
@keyframes rotate{
     0%{
   transform:rotate(20deg);   
     }
     100%{
     transform:rotate(180deg); 
     }
}
